*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dede;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
#slider{
    width: 500px;
    max-width: 100%;
    height: 450px;
    border: 2px solid red;
    margin: 30px 0;
}
h2{
    margin: 10px 0;
    font-size: 35px;
    font-family: sans-serif;
}
#slider img{
    width: 100%;
    height: 100%;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 16%;
    align-items: center;
}
button{
    padding: 5px;
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 45px;
    transition: 0.4s;
}
